
<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />



    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/jquery.min.js"></script>
    @*<script src="~/lib/moment/moment.min.js"></script>*@
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    @*<script src="~/lib/bootstrap/js/js/bootstrap-datepicker.js"></script>*@

    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/js/css/bootstrap-datepicker.css" rel="stylesheet" />




    @*<script src="~/lib/bootstrap/jquery.min.js"></script>
        <script src="~/lib/moment/moment.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/lib/bootstrap/js/js/bootstrap-datepicker.js"></script>*@
    <!-- include your less or built css files  -->
    <!--
    bootstrap-datetimepicker-build.less will pull in "../bootstrap/variables.less" and "bootstrap-datetimepicker.less";
    or
    <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.css" />
    -->

    <title>@ViewBag.Title</title>
</head>
<body>


    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                <img src="~/images/icons8-tooth-100.png" height="50" width="50" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" asp-action="GetCustomers" asp-controller="Customer">Customers</a>
                    <a class="nav-item nav-link" asp-action="GetProcedures" asp-controller="DentalProcedure">Dental procedures</a>
                    <a class="nav-item nav-link" href="#">Appointments</a>
                    <a class="nav-item nav-link" asp-action="GetAllWorkWeeks" asp-controller="WorkDay">Work schedules</a>
                </div>
            </div>
        </nav>


        <div class="container">
            @RenderBody()
        </div>
        @if (IsSectionDefined("Scripts"))
        {
            @RenderSection("Scripts")
        }
    </div>

</body>






</html>
