@model IEnumerable<Appointment>

@{
    ViewBag.Title = "Appointments";
}

<h3>Appointments</h3>

@if (Model.Any())
{
    foreach (var appointment in Model)
    {
        if (!appointment.AppointmentCanceled)
        {
            <div class="card m-3">
                <div class="card-header">
                    <h4>@appointment.AppointmentStart.ToShortDateString()</h4>
                </div>

                <div class="card-body">
                    <h5 class="card-title">@appointment.Title</h5>
                </div>

                <div class="card-footer">
                    <a asp-action="GetAppointment" asp-route-id="@appointment.AppointmentId" class="btn btn-primary">
                        Details
                    </a>
                </div>
            </div>
        }
    }
}

else
{
<h4>There are no appointments yet created.</h4>
}