@model IEnumerable<Appointment>

@{ 
    ViewBag.Title = "Appointments";
} 

<h3>Appointments</h3>

<a asp-action="AddAppointment" class="btn btn-primary">Add appointment</a>

@if (Model.Any())
{
    foreach (var appointment in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h4>@appointment.AppointmentDay</h4>
            </div>

            <div class="card-body">
                <h5 class="card-title">@appointment.Title</h5>
                <h6 class="card-subtitle">@appointment.Customer.Name</h6>
            </div>

            <div class="card-footer">
                <a asp-action="GetAppointment" asp-route-id="@appointment.AppointmentId" class="btn btn-primary">
                    Details
                </a>
            </div>
        </div>
    }
}
else
{
    <h4>There are no appointments yet created.</h4>
}