@model CustomerCreateVM

@{ 
    ViewBag.Title = "Create customer";
}

<h3>Create customer</h3>
<br />

<form enctype="multipart/form-data" method="post" asp-action="CreateCustomer">

    <div>
        <div class="form-group-row">
            <label asp-for="Name">First and last name</label>
            <div>
                <input asp-for="Name" placeholder="First and last name" class="col-sm-2 col-form-label" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <br />
        <br />

        <div class="form-group-row">
            <br />
            <label asp-for="Address"></label>
            <div>
                <input asp-for="Address" placeholder="Address" class="col-sm-2 col-form-label" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <br />
        <br />
        <div class="form-group-row">
            <br />
            <label asp-for="TelephoneNumber"></label>
            <div>
                <input asp-for="TelephoneNumber" placeholder="Telephone number" class="col-sm-2 col-form-label" />
                <span asp-validation-for="TelephoneNumber" class="text-danger"></span>
            </div>
        </div>
        <br />
        <br />
        <div class="form-group-row">
            <br />
            <label asp-for="Photo"></label>
            <div>
                <div class="custom-file">
                    <input asp-for="Photo" class="form-control custom-file-input" />
                    <label class="custom-file-label">Choose file</label>
                </div>
            </div>
        </div>
        <br />
        <br />
        <button asp-action="CreateCustomer" type="submit"
                class="btn btn-primary">
            Add customer
        </button>
        <a asp-action="GetCustomers" class="btn btn-secondary">Cancel</a>
    </div>

    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var filename = $(this).val().split("\\").pop();
                $(this).next('custom-file-label').html(fileName);
            });
        });
    </script>

</form>