@model CustomerEditVM
@{ 
    ViewBag.Title = "Customer edit";
}

<h3>Edit customer</h3>
<br />
<form method="post" asp-action="EditCustomer">

    <input type="hidden" asp-for="CustomerId" />


    <div class="form-group-row">
        <label asp-for="Name">First and last name</label>
        <div>
            <input asp-for="Name" placeholder="First and last name" class="col-sm-2 col-form-label" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <br />
    <br />

    <div class="form-group-row">
        <br />
        <label asp-for="Address"></label>
        <div>
            <input asp-for="Address" placeholder="Address" class="col-sm-2 col-form-label" />
            <span asp-validation-for="Address"></span>
        </div>
    </div>
    <br />
    <br />

    <div class="form-group-row">
        <br />
        <label asp-for="TelephoneNumber"></label>
        <div>
            <input asp-for="TelephoneNumber" placeholder="Telephone number" class="col-sm-2 col-form-label" />
            <span asp-validation-for="TelephoneNumber"></span>
        </div>
    </div>
    <br />
    <br />

    <button type="submit" class="btn btn-primary">Save</button>

    <button asp-action="GetCustomers" class="btn btn-secondary">Cancel</button>
</form>