@model CustomerEditVM
@{ 
    ViewBag.Title = "Customer edit";
}



    <form method="post" asp-action="EditCustomer">

        <input type="hidden" asp-for="CustomerId" />

       

        <div class="form-group-row">
            <label asp-for="FirstName"></label>
            <div>
                <input asp-for="FirstName" placeholder="First name" />
                @*<span asp-validation-for="All" class="text-danger"></span>*@
            </div>
        </div>

        <div class="form-group-row">
            <label asp-for="LastName"></label>
            <div>
                <input asp-for="LastName" placeholder="Last name" />
                @*<span asp-validation-for="All"></span>*@
            </div>
        </div>

        <div class="form-group-row">
            <label asp-for="Address"></label>
            <div>
                <input asp-for="Address" placeholder="Address" />
                @*<span asp-validation-for="All"></span>*@
            </div>
        </div>

        <div class="form-group-row">
            <label asp-for="TelephoneNumber"></label>
            <div>
                <input asp-for="TelephoneNumber" placeholder="Telephone number" />
                @*<span asp-validation-for="All"></span>*@
            </div>
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>

        <button type="submit">Save</button>
        <button asp-action="#">Cancel</button>
    </form>