@model DentalProcedureCreateVM

@{
    ViewBag.Title = "Create procedure";
}

<h3>Create procedure</h3>
<br />

<form method="post" asp-action="CreateProcedure">

    <div class="form-group-row">
        <label asp-for="ProcedureName">Procedure name</label>
        <div>
            <input asp-for="ProcedureName" placeholder="Name of the procedure" class="col-sm-2 col-form-label" />
            <span asp-validation-for="ProcedureName" class="text-danger"></span>
        </div>
    </div>
    <br />

    <div class="form-group-row">
        <label asp-for="ProcedurePrice">Procedure price</label>
        <div>
            <input asp-for="ProcedurePrice" placeholder="Price of the procedure" class="col-sm-2 col-form-label" />
            <span asp-validation-for="ProcedurePrice" class="text-danger"></span>
        </div>
    </div>
    <br />


    <button type="submit"
            class="btn btn-primary">
        Create
    </button>

    <a asp-action="GetCustomers" class="btn btn-secondary">Cancel</a>

</form>